.word-container {
    display: grid;
    place-items: center;
    font-size: 34px;
    margin: auto;
    width: 1280px;
    text-align: center;
    font-family: serif;
    height: 85vh;
}

.word-container .word {
    font-size: 180px;
    letter-spacing: 3px;
}

.word-container .translation {
    margin: 100px 0 0 0;
    font-size: 28px;
    opacity: 0.6;
}

svg {
    display: inline;
    vertical-align: text-top;
}