.word-container {
    display: grid;
    place-items: center;
    font-size: 34px;
    margin: auto;
    width: 1280px;
    text-align: center;
    font-family: serif;
    height: 85vh;
}

.word-container .word {
    font-size: 190px;
    letter-spacing: 10px;
    height: 300px;
    line-height: 150px;
}

.word-container .translation {
    margin: 100px 0 0 0;
    font-size: 28px;
    opacity: 0.9;
}

svg {
    display: inline;
    vertical-align: text-top;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保遮罩在最上层 */
}

.loader {
    color: white;
    font-size: 24px;
    font-weight: bold;
    /*animation: pulse 1.5s infinite; !* 可选：加载动画 *!*/
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}