body.is-dragging,
body.is-dragging *,
body.is-dragging *:hover,
body.is-dragging *:active,
body.is-dragging *:focus {
    cursor: grabbing !important;
    /* -webkit-user-drag: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important; */
}

.note-details h1, .note-details h2, .note-details h3, .note-details h4,
.note-details ol li::marker, .note-details ul li::marker {
    color: var(--foreground);
}

.note-details h1 {
    font-size: 2rem;
    font-weight: 600;
}

.note-details h1 sup {
    font-size: 1rem;
    font-weight: normal;
}

.note-details h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.note-details > p {
    text-indent: 2em;
}

.note-details ul {
    padding-inline-start: 20px;
}

.note-details ul > ul {
    margin-top: 5px;
    margin-left: 8px; /* 稍微向右偏移 */
    padding-left: 20px; /* 给线条留出空间 */
    border-left: 1px solid rgba(120, 210, 120, 0.5); /* 关键：左侧的竖线 */
}

.note-details ul > ul > li {
    list-style-type: none; /* 1. 禁用原生的圈圈 */
    position: relative;
}

.note-details ul ul li::before {
    content: "";
    position: absolute;
    left: -20px; /* 连到左边的竖线上 */
    top: 50%; /* top: 50% 将元素的顶端移到父容器正中间，translateY(-50%) */
    transform: translateY(-50%);
    width: 12px; /* 横线长度 */
    height: 1px; /* 横线厚度 */
    background-color: rgba(120, 210, 120, 0.5);

    /* 无用：如果你是想根据背景颜色自动调整横线的颜色（比如在深色模式下自动变反色），可以使用 filter: invert(1) 或 mix-blend-mode: differenc*/
    /*filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);*/
}

/* 2. 用 ::after 手画这个圈圈，这样你可以像素级控制它的左右位置 */
.note-details ul > ul > li::after {
    content: "";
    position: absolute;
    /* 通过调整 left 的值，你可以让它左右移动 */
    /* -20px 是横线起点，-8px 左右差不多就在横线末端了 */
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;  /* 圈圈大小 */
    height: 6px; /* 圈圈大小 */
    border: 1px solid rgba(120, 210, 120, 0.5); /* 这里的 circle 样式 */
    border-radius: 50%;
    background-color: transparent; /* 如果想要实心，可以改颜色 */
}

/* 子项目的详细步骤 */
.note-details ul > ul > ol {
    margin-top: 5px;
    margin-left: 8px; /* 稍微向右偏移 */
    padding-left: 40px; /* 给线条留出空间 */
    border-left: 1px solid rgba(120, 210, 120, 0.5); /* 关键：左侧的竖线 */
}

.note-details ul > ul > ol > li {
    position: relative;
}

.note-details ul > ul > ol > li::before {
    content: "";
    position: absolute;
    left: -40px; /* 连到左边的竖线上 */
    top: 50%; /* top: 50% 将元素的顶端移到父容器正中间，translateY(-50%) */
    transform: translateY(-50%);
    width: 12px; /* 横线长度 */
    height: 1px; /* 横线厚度 */
    background-color: rgba(120, 210, 120, 0.5);

    /* 无用：如果你是想根据背景颜色自动调整横线的颜色（比如在深色模式下自动变反色），可以使用 filter: invert(1) 或 mix-blend-mode: differenc*/
    /*filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);*/
}

.note-details p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/* 标记可播放 SPAN */
.note-details span[data-voice-id]:not([data-voice-id=""]) {
    /* background-color: rgba(255, 255, 50, 0.3); */
    background-color: rgba(255, 50, 50, 0.2);
}

.note-details span[data-voice-id]:not([data-voice-id=""]):hover {
    /* background-color: rgba(255, 255, 50, 0.3); */
    background-color: rgba(255, 50, 50, 0.35);
}

.note-details pre {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.note-details li + pre {
    margin-left: 6px;
}

.note-details a {
    color: #2B98F0;
}

.dark .toolbar button {
    color: #78d278;
    border-color: #78d278;
}
.dark .note-details code:not(:has(pre)) {
    color: #78d278;
}

.note-details code::before, .note-details code::after {
    content: "";
}

.note-details pre {
    font-family: Inconsolata, 'YaHei Consolas Hybrid', 'SF Mono', Monospaced, Consolas, 'Courier New', monospace;
    padding: 0.8em;
}

    /*
    Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
    */
.dark .hljs {
    /*color: #abb2bf;*/
    color: #78d278;
    background: #282c34
}
.dark .hljs-keyword,
.dark .hljs-operator {
    color: #F92672
}
.dark .hljs-pattern-match {
    color: #F92672
}
.dark .hljs-pattern-match .hljs-constructor {
    color: #61aeee
}
.dark .hljs-function {
    color: #61aeee
}
.dark .hljs-function .hljs-params {
    color: #A6E22E
}
.dark .hljs-function .hljs-params .hljs-typing {
    color: #FD971F
}
.dark .hljs-module-access .hljs-module {
    color: #7e57c2
}
.hljs-constructor {
    color: #e2b93d
}
.hljs-constructor .hljs-string {
    color: #9CCC65
}
.hljs-comment,
.hljs-quote {
    /*color: #b18eb1;*/
    color: #c0c0c0;
    /*font-style: italic*/
}
.dark .hljs-doctag,
.dark .hljs-formula {
    color: #c678dd
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}
.hljs-literal {
    color: #56b6c2
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.dark .hljs-meta .hljs-string {
    /*color: #98c379*/
    color: #e06c75
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.dark .hljs-number {
    color: #d19a66
}
.dark .hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}
.hljs-emphasis {
    /*font-style: italic*/
    font-weight: bold
}
.hljs-strong {
    font-weight: bold
}
.hljs-link {
    text-decoration: underline
}