.note-details h1, .note-details h2, .note-details h3, .note-details h4,
.note-details ol li::marker, .note-details ul li::marker {
    color: var(--foreground);
}

.note-details h1 {
    font-size: 2rem;
    font-weight: 600;
}

.note-details h1 sup {
    font-size: 1rem;
    font-weight: normal;
}

.note-details h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.note-details p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.note-details pre {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.note-details a {
    color: #2B98F0;
}

.dark .note-details code:not(:has(pre)) {
    color: #78d278;
}

.note-details code::before, .note-details code::after {
    content: "";
}

.note-details pre {
    font-family: Inconsolata, 'YaHei Consolas Hybrid', 'SF Mono', Monospaced, Consolas, 'Courier New', monospace;
    padding: 0.8em;
}

    /*
    Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
    */
.dark .hljs {
    /*color: #abb2bf;*/
    color: #78d278;
    background: #282c34
}
.dark .hljs-keyword,
.dark .hljs-operator {
    color: #F92672
}
.dark .hljs-pattern-match {
    color: #F92672
}
.dark .hljs-pattern-match .hljs-constructor {
    color: #61aeee
}
.dark .hljs-function {
    color: #61aeee
}
.dark .hljs-function .hljs-params {
    color: #A6E22E
}
.dark .hljs-function .hljs-params .hljs-typing {
    color: #FD971F
}
.dark .hljs-module-access .hljs-module {
    color: #7e57c2
}
.hljs-constructor {
    color: #e2b93d
}
.hljs-constructor .hljs-string {
    color: #9CCC65
}
.hljs-comment,
.hljs-quote {
    /*color: #b18eb1;*/
    color: #c0c0c0;
    /*font-style: italic*/
}
.dark .hljs-doctag,
.dark .hljs-formula {
    color: #c678dd
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}
.hljs-literal {
    color: #56b6c2
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.dark .hljs-meta .hljs-string {
    /*color: #98c379*/
    color: #e06c75
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.dark .hljs-number {
    color: #d19a66
}
.dark .hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}
.hljs-emphasis {
    /*font-style: italic*/
    font-weight: bold
}
.hljs-strong {
    font-weight: bold
}
.hljs-link {
    text-decoration: underline
}