# pip install --upgrade -r requirements.txt # Upgrade 3rd-part libraries.
# python -m pip install --upgrade -r requirements.txt
# pip install -r requirements.txt

# Windows
# python -m pip install --upgrade -r requirements.txt --proxy=http://192.168.1.166:7081
pip
autopep8
requests

# 
# pygame

## Test Framework
pytest

## Django Framework
django==4.2.*
django-ckeditor
django-filer
django-ckeditor-filebrowser-filer

## Images
numpy
opencv-python
pillow

## Data
matplotlib
pandas
plotly

## AI/ML
torch
torchvision
