# pip install --upgrade -r requirements.txt # Upgrade 3rd-part libraries.
# python -m pip install --upgrade --use-pep517 -r requirements.txt
# pip install -r requirements.txt

# Windows
# python -m pip install --upgrade -r requirements.txt --proxy=http://192.168.1.166:7081
pip
autopep8
requests

# 
# pygame

## Test Framework
pytest

## Django Framework
django==4.2.*
django-ckeditor
django-filer
djangocms-picture
djangocms-file
djangocms-link
djangocms-video
djangocms-bootstrap5
djangocms-text-ckeditor
djangocms-audio
### INSTALLED_APPS as bootstrap5
### https://django-bootstrap-v5.readthedocs.io/en/latest/
# django-bootstrap-v5

### INSTALLED_APPS as django_bootstrap5
### https://django-bootstrap5.readthedocs.io/en/latest/index.html
django_bootstrap5

## Database
mysqlclient

## Images
numpy
opencv-python
pillow

## Data
matplotlib
pandas
plotly

## AI/ML
torch
torchvision
