{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block Contents %}

    <form method="post" id="englishForm">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {{ formset.management_form }}
        <div id="translationForms">
            <ul>
                {% bootstrap_formset formset layout="horizontal" %}
            </ul>
        </div>
        <button type="button" id="addTranslationBtn">Add Translation</button>
        <input type="submit" value="Save">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let formCount = $('#id_translation_set-TOTAL_FORMS').val();
            let translationForms = $('#translationForms');

            $('#addTranslationBtn').click(function () {
                let newForm = $('#emptyForm').html().replace(/__prefix__/g, formCount);

                translationForms.append(newForm);
                formCount++;
            });
        });
    </script>
    <script id="emptyForm" type="text/template">
        <ul>
            {% bootstrap_form formset.empty_form layout="horizontal" %}
        </ul>
    </script>
{% endblock Contents %}