{% extends 'base.html' %}

{% block Contents %}
    <p></p>
    <table>
        {% for translation in chinese %}
            <tr>
                <td>{{ translation.english.phonetic_uk|default:translation.english.phonetic_us|default:'' }}</td>
                <td>{{ translation.english.accent|default:translation.english|safe }}</td>
                <td>{{ translation.part_of_speech|default:'' }}</td>
                <td>{{ translation.translation }}</td>
                <td><a href="{% url 'app_notebook:english_word_chinese_edit' translation.english.id %}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock Contents %}
